{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Bienvenue
{% endblock %}

{% block base_head %}

{% endblock %}

{% block content %}
  <!-- Page Titile Area -->
  <section class="page-title-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="page-tagline">Tableau de bord</h2>
          <h1 class="page-title">Fondateurs</h1>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Titile Area End -->

  <!-- Contact Us Section -->
  <section class="matrl-contact-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="contact-title text-center wow animated fadeInDown" data-wow-delay=".2s">Actions possibles</h1>
        </div>
      </div>
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <table class="table">
          <tr>
            <td>Evènements</td>
            <td><a href="">Ajouter</a> - <a href="">Modifier</a> - <a href="">Supprimer</a></td>
          </tr>
          <tr>
            <td>Formateurs</td>
            <td><a href="">Ajouter</a> - <a href="">Modifier</a> - <a href="">Supprimer</a></td>
          </tr>
          <tr>
            <td>Faq</td>
            <td><a href="">Ajouter</a> - <a href="">Modifier</a> - <a href="">Supprimer</a></td>
          </tr>
          <tr>
            <td>Photo</td>
            <td><a href="">Ajouter</a> - <a href="">Modifier</a> - <a href="">Supprimer</a></td>
          </tr>
          <tr>
            <td>Membres</td>
            <td><a href="">Ajouter</a> - <a href="">Modifier</a> - <a href="">Supprimer</a></td>
          </tr>
          <tr>
            <td>Partenaires</td>
            <td><a href="">Ajouter</a> - <a href="">Modifier</a> - <a href="">Supprimer</a></td>
          </tr>
        </table>
      </div>
    </div>
  </section>
  <!-- Contact Us Section End -->



{% endblock %}

{% block scripts %}
  <script src="{% static 'assets/js/map.js' %}"></script>
  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCsa2Mi2HqyEcEnM1urFSIGEpvualYjwwM"></script>
{% endblock %}
