  {% load static %}
  <!--Footer-->
  <footer class="page-footer center-on-small-only  pt-0 footer-widget-container">
    <!--Footer Links-->
    <div class="container pt-5 mb-5">
      <div class="row">
        <!--First column-->
        <div class="col-md-4 col-lg-34 col-xl-4 footer-contact-widget">
          <h3 class="footer-title">A propos</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates eos minus expedita ipsum soluta voluptatem sed architecto.</p>
          <ul>
            <li>
              <a href="#"><i class="mdi mdi-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="mdi mdi-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="mdi mdi-dribbble"></i></a>
            </li>
            <li>
              <a href="#"><i class="mdi mdi-github-circle"></i></a>
            </li>
            <li>
              <a href="#"><i class="mdi mdi-linkedin"></i></a>
            </li>
          </ul>
        </div>
        <!--/.First column-->

        <!--Second column-->
        <div class="col-md-4 col-lg-4 col-xl-4 recent-widget">
          <h3 class="footer-title">Articles Récents</h3>
          <p><a href="#" class="dark-grey-text">Growth Hacking 101</a></p>
          <p><a href="#" class="dark-grey-text">30 UX Tips and Tricks</a></p>
          <p><a href="#" class="dark-grey-text">How to Scale Your Business</a></p>
          <p><a href="#" class="dark-grey-text">Getting Started with Sketch</a></p>
          <p><a href="#" class="dark-grey-text"></a>10 Tips to Validate Your Idea</p>
          <p><a href="#" class="dark-grey-text">SEO Guideline for Designers</a></p>
        </div>
        <!--/.Second column-->

        <!--Third column-->
        <div class="col-md-4 col-lg-4 col-xl-4 link-widget">
          <h3 class="footer-title">Plan du site</h3>
          <ul>
            <li><a href="{% url 'welcome' %}">Home</a></li>
            <li><a href="{% url 'list-events' %}">Formations</a></li>
            <li><a href="{% url 'a-propos' %}">A propos</a></li>
            <li><a href="{% url 'partenaires' %}">Partenaires</a></li>
            <li><a href="{% url 'faq' %}">FAQ</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
        </div>
        <!--/.Third column-->


      </div>
    </div>
    <!--/.Footer Links-->

    <!-- Copyright-->
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>&copy; 2018 Site Assistance, All right reserved. Designed with <i class="mdi mdi-heart"></i> by <a href="#">les Pierre</a></p>
          </div>
        </div>
      </div>
    </div>
    <!--/.Copyright -->

  </footer>
  <!--/.Footer-->
