{% load static %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS
slim is missing ajax -->
  <!-- Optional JavaScript -->
  <script src="{% static 'assets/js/jquery-min.js' %}"></script>
  <script src="{% static 'assets/js/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery-min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

  <script src="{% static 'assets/js/jquery.mixitup.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.inview.js' %}"></script>
  <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
  <script src="{% static 'assets/js/scroll-top.js' %}"></script>
  <script src="{% static 'assets/js/material.min.js' %}"></script>
  <script src="{% static 'assets/js/ripples.min.js' %}"></script>
  <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/js/form-validator.min.js' %}"></script>
  <script src="{% static 'assets/js/contact-form-script.min.js' %}"></script>
  <script src="{% static 'assets/js/wow.js' %}"></script>
  <script src="{% static 'assets/js/jquery.vide.js' %}"></script>
  <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.slicknav.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="{% static 'assets/js/active-navlink.js' %}"></script>
