  {% load static %}
  <!-- Header Start -->
  <header id="header">
    <nav class="navbar navbar-expand-md scrolling-navbar nav-bg">
      <div class="container container-navbar">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="mdi mdi-menu"></span>
            <span class="mdi mdi-menu"></span>
            <span class="mdi mdi-menu"></span>
          </button>
          <a class="navbar-brand" href="{% url 'welcome' %}"><img src="{% static 'assets/images/logo.png' %}" alt=""></a>
        </div>

        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="navbar-nav mr-auto w-100 justify-content-end">
            <li class="nav-item dropdown" id="accueil">
              <a class="nav-link" href="{% url 'welcome' %}" >
                Accueil
              </a>
            </li>
            <li class="nav-item dropdown" id="evenements">
              <a class="nav-link" href="{% url 'list-events' %}">
                Formations
              </a>
            </li>
            <li class="nav-item dropdown" id="a-propos">
              <a class="nav-link" href="{% url 'a-propos' %}">
                A propos
              </a>
            </li>
            <li class="nav-item dropdown" id="partenaires">
              <a class="nav-link" href="{% url 'partenaires' %}">
                Partenaires
              </a>
            </li>
            <li class="nav-item dropdown" id="faq">
              <a class="nav-link" href="{% url 'faq' %}">
                FAQ
              </a>
            </li>
            <li class="nav-item dropdown" id="contact">
              <a class="nav-link" href="{% url 'contact' %}">
                Contact
              </a>
            </li>
          </ul>
          <!-- Search Box Start -->
          <div class="search-icon">
            <span class="open-search">
              <i class="mdi mdi-magnify btn btn-common"></i>
            </span>
          </div>
          <form role="search" class="navbar-form" action="/chercher" method="get">
            <div class="container">
              <div class="row">
                <div class="form-group has-feedback">
                  <input type="text" name="q" placeholder="Effectuer une recherche" class="form-control">
                  <div class="close"><i class="mdi mdi-close"></i></div>
                </div>
              </div>
            </div>
          </form>
          <!-- Search Box End -->
        </div>
      </div>

      <!-- Mobile Menu Start -->
      <ul class="wpb-mobile-menu">
        <li>
          <a href="{% url 'welcome' %}">
          Accueil
          </a>
        </li>
        <li>
          <a href="{% url 'list-events' %}">
          Formations
          </a>
        </li>
        <li>
          <a href="{% url 'a-propos' %}">
          A propos
          </a>
        </li>
        <li>
          <a href="{% url 'partenaires' %}">
          Partenaires
          </a>
        </li>
        <li>
          <a href="{% url 'faq' %}">
          FAQ
          </a>
        </li>
        <li>
          <a href="{% url 'contact' %}">
          Contact
          </a>
        </li>
      </ul>
      <!-- Mobile Menu End -->
    </nav>
  </header>
  <!-- Header End -->
