{% extends "base.html" %}
{% load static %}

{% block title %}
Bienvenue
{% endblock %}

{% block base_head %}

{% endblock %}

{% block content %}
<!-- Page Titile Area -->
  <section class="page-title-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="page-tagline">A propos</h2>
          <h1 class="page-title">de l'IDEB</h1>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Titile Area End -->

  <!-- Welcome Section Start -->
  <section class="welcome-section section-padding section-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-12">
          <div class="welcome-content">
            <div class="text">
              <h1>A qui s'adresse l'I.D.E.B. ?</h1>
              <p>Dans un premier temps, l'I.D.E.B. s'adresse à tous les barreaux des pays membres de l'Union européenne et du Conseil de l'Europe de langue française.<br>Il répond à une attente qui est moins rencontrée dans cette langue, ce qui n'exclut pas à terme une ouverture vers d'autres barreaux appartenant à l'Espace Economique Européen, la Suisse ou le bassin méditerranéen. L'ouverture à d'autres langues est d'ores et déjà envisagée.</p>
            </div>
            <div class="button btn-welcome">
              <a href="{% url 'faq' %}" class="btn btn-common btn-IDEB">
                  Découvrez-en plus dans notre FAQ
                  <div class="ripple-container"></div>
                </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 welcome-column">
          <div class="img-welcome">
            <img class="img-fluid" src="{% static 'assets/images/about/800x600.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Welcome Section End -->

  <!-- About Section -->
  <section class="welcome-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12">
          <div class="welcome-content">
            <div class="text">
              <h1>Comment fonctionne l'I.D.E.B. ?</h1>
              <p>Qu'ils soient fondateurs ou adhérents, les barreaux membres de l'I.D.E.B. désignent trois de leurs avocats ayant déjà une certaine expérience du droit européen pour suivre une formation spécifique à Bruxelles, Luxembourg et Strasbourg. Ces barreaux acceptent de prendre en charge les frais de séjour de ces trois avocats dans les trois capitales européenes.</p>
              <p>Le cycle de formation comprend trois modules d'une journée débutant dans l'une de ces villes et se poursuivant dans les deux autres suivant le sujet proposé. Le délai entre chaque module est en principe d'un mois.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="work-counter-section section-padding section-dark">
    <div class="container">
      <div class="row">
        <!-- Single Counter -->
        <div class="col-md-3 col-sm-6 work-counter-widget text-center wow animated fadeInUp" data-wow-delay=".2s">
          <div class="counter">
            <div class="icon">
              <img class="icon" src="{% static 'assets/images/icon/business-affiliate-network.svg' %}" alt="">
            </div>
            <div class="timer">7</div>
            <p>Membres actifs</p>
          </div>
        </div>
        <!-- Single Counter -->
        <div class="col-md-3 col-sm-6 work-counter-widget text-center wow animated fadeInUp" data-wow-delay=".3s">
          <div class="counter">
            <div class="icon">
              <img class="icon" src="{% static 'assets/images/icon/time.svg' %}" alt="">
            </div>
            <div class="timer">345</div>
            <p>Heures de formation</p>
          </div>
        </div>
        <!-- Single Counter -->
        <div class="col-md-3 col-sm-6 work-counter-widget text-center wow animated fadeInUp" data-wow-delay=".4s">
          <div class="counter">
            <div class="icon">
              <img class="icon" src="{% static 'assets/images/icon/handshake.svg' %}" alt="">
            </div>
            <div class="timer">8</div>
            <p>Partenaires clés</p>
          </div>
        </div>
        <!-- Single Counter -->
        <div class="col-md-3 col-sm-6 work-counter-widget text-center wow animated fadeInUp" data-wow-delay=".5s">
          <div class="counter">
            <div class="icon">
              <img class="icon" src="{% static 'assets/images/icon/group-of-people-in-a-formation.svg' %}" alt="">
            </div>
            <div class="timer">12350</div>
            <p>Avocats inscrits</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="welcome-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xs-12">
        <div class="welcome-content">
          <div class="text">
            <p>Le premier module vise l'apprentissage de la matière en partenariat avec une ou plusieurs universités.</p>
            <p>Le deuxième mmodule permet d'aborder la pratique par la rencontre de magistrats ou de référendaires de la Cour de justice de l'Union européenne ou de la Cour européenne des droits de l'Homme.</p>
            <p>Le troisième module aborde la restitution de la matière et son évaluation en partenariat avec les universités ou l'Ecole Régionale des Avocats du Grand Est.</p>
            <p>Une fois le cycle terminé, les avocats ayant suivi la formation restitueront la matière au sein de leur barreau respectif au cours de séances de formation organisées par leur Ordre. Celles-ci seront facilement accessibles et accompagnées d'une modeste participation financière afin de permettre aux Ordres d'être remboursés des frais qu'ils ont engagés pour leurs formateurs</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <!-- About Section End -->

  <!-- Portfolio Section -->
  <section class="matrl-portfolio-section section-padding section-dark">
    <div class="container">
      <div class="row">
        <!-- Section Titile -->
        <div class="col-md-4 col-lg-4 col-xl-6  matrl-title-section wow animated fadeInLeft" data-wow-delay=".2s">
          <h1 class="section-title">Gallerie photos</h1>
        </div>
        <!-- Section Quote -->
        <div class="col-md-8 col-lg-8 col-xl-6  portfolio-nav mt-3 mb-3 wow animated fadeInRight" data-wow-delay=".2s">
          <ul class="nav nav-pills">
            <li><a class="filter active" data-filter="all">Tout</a></li>
            {% for categorie in categories %}
            <li><a class="filter" data-filter=".categorie{{ categorie.id }}">{{ categorie.categorie }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="portfolio-item-wrapper clearfix wow animated fadeInUp" data-wow-delay=".5s" id="matrl-portfolio">
          <!-- Single Portfolio Image -->
          {% for photo in photos %}
          <div class="col-md-6 col-lg-4 col-xl-4 pb-4 mix categorie{{ photo.categorie.id }}">
            <figure class="single-portfolio">
              <img src="{{ photo.images.url }}" alt="">
              <figcaption class="hover-content">
                <a class="btn btn-round btn-fab btn-xs" href=""><i class="material-icons mdi mdi-arrow-right"></i><div class="ripple-container"></div></a>
                <a href="portfolio-single.html">
                  <h2 class="subtitle">{{ photo.short_description }}Coucou</h2>
                </a>
                <p>Petite description</p>
              </figcaption>
            </figure>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="row mt-4 wow animated fadeInUp" data-wow-delay=".3s">
        <div class="col-md-12 text-center">
<!--           <a href="javascript:void(0)" class="animated4 btn btn-common" data-ripple-color="#000"><i class="material-icons mdi mdi-lightbulb-outline"></i> Explore more work<div class="ripple-container"></div></a> -->
        </div>
      </div>
    </div>
  </section>
  <!-- Portfolio Section End -->

  <!-- Team Carousel -->
  <section class="team section-padding section-dark">
    <div class="container">
      <div class="row">
        <!-- Section Titile -->
        <div class="col-md-12 animated wow fadeInLeft" data-wow-delay=".2s">
          <h1 class="section-title">Nos membres</h1>
        </div>
      </div>
      <div class="row wow animated fadeInUp" data-wow-delay=".4s">
        <div id="team-carousel" class="owl-carousel owl-theme">



                  {% for membre in membres %}
                  <div class="item {% if forloop.first %}active{% endif %}">
                    <!-- Single Team Widget -->
                    <div class="">
                      <div class="single-team-widget">
                        <div style="background-image: url('{{ membre.image.url }}'); width:100%;height: 200px; background-position:center; background-size:cover;">
                        </div>
                        <div class="team-member-info">
                          <div class="know-more">
                            <a class="btn btn-round btn-fab btn-xs" href="javascript:void(0)"><i class="material-icons mdi mdi-arrow-right"></i><div class="ripple-container"></div></a>
                          </div>
                          <h2 class="subtitle">{{ membre.nom }}</h2>
                          <p>{{ membre.pays }}</p>
                          <div class="social-profiles">
                            <a target="_blank" href="{{ membre.url_site_web }}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Site Web</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>

  </section>
  <!-- Team Carousel End -->



  <!-- Back To Top -->
  <a href="#" class="back-to-top">
    <div class="ripple-container"></div>
    <i class="mdi mdi-arrow-up">
      </i>
  </a>
{% endblock %}
