{% extends "base.html" %}
{% load static %}
{% load staticfiles cms_tags menu_tags sekizai_tags %}

{% block meta_description %}A propos de l'Institut de Droit Européen des Barreaux (IDEB), comment fonctionne l'IDEB et à qui s'adresse-t-il?{% endblock %}

{% block title %}
A propos
{% endblock %}

{% block base_head %}

{% endblock %}

{% block content %}
<!-- Page Titile Area -->
  <section class="page-title-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="page-tagline">{% static_placeholder "Petit titre A propos" or %}A propos{% endstatic_placeholder %}</h2>
          <h1 class="page-title">{% static_placeholder "Gros titre A propos" or %}de l'IDEB{% endstatic_placeholder %}</h1>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Titile Area End -->

  <!-- Welcome Section Start -->
  <section class="welcome-section section-padding section-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-12">
          <div class="welcome-content">
            <div class="text">
              <h1>{% static_placeholder "Titre introducion A propos" or %}A qui s'adresse l'I.D.E.B. ?{% endstatic_placeholder %}</h1>
              <p>{% static_placeholder "Texte introduction A propos" or %}Dans un premier temps, l'I.D.E.B. s'adresse à tous les barreaux des pays membres de l'Union européenne et du Conseil de l'Europe de langue française.<br>Il répond à une attente qui est moins rencontrée dans cette langue, ce qui n'exclut pas à terme une ouverture vers d'autres barreaux appartenant à l'Espace Economique Européen, la Suisse ou le bassin méditerranéen. L'ouverture à d'autres langues est d'ores et déjà envisagée.{% endstatic_placeholder %}</p>
            </div>
            <div class="button btn-welcome">
              <a href="{% url 'faq' %}" class="btn btn-common btn-FAQ">
                  {% static_placeholder "Bouton vers FAQ" or %}Découvrez-en plus dans notre FAQ{% endstatic_placeholder %}
                  <div class="ripple-container"></div>
                </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 welcome-column">
          <div class="img-welcome">
            <img class="img-fluid img_IE" src="{% static 'assets/images/about/equipe.jpg' %}" alt="Les 4 bâtonniers fondateurs de l’I.D.E.B. : Stéphane Boonen, Pierre Sculier, Pascal Créhange et François Prum.">
            <p class="legend-picture">{% static_placeholder "Legende photo" or %}Les 4 bâtonniers fondateurs de l’I.D.E.B. : Stéphane Boonen, Pierre Sculier, Pascal Créhange et François Prum.{% endstatic_placeholder %}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Welcome Section End -->

  <!-- About Section -->
  <section class="welcome-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12">
          <div class="welcome-content">
            <div class="text">
              <h1>{% static_placeholder "Titre fonctionnement" or %}Comment fonctionne l'I.D.E.B. ?{% endstatic_placeholder %}</h1>
              <p>{% static_placeholder "Texte fonctionnement" or %}Qu'ils soient fondateurs ou adhérents, les barreaux membres de l'I.D.E.B. désignent trois de leurs avocats ayant déjà une certaine expérience du droit européen pour suivre une formation spécifique à Bruxelles, Luxembourg et Strasbourg. Ces barreaux acceptent de prendre en charge les frais de séjour de ces trois avocats dans les trois capitales européenes.</p>
              <p>Le cycle de formation comprend trois modules d'une journée débutant dans l'une de ces villes et se poursuivant dans les deux autres suivant le sujet proposé. Le délai entre chaque module est en principe d'un mois.{% endstatic_placeholder %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="work-counter-section section-padding section-dark">
    <div class="container">
      <div class="row">
        <!-- Single Counter -->
        <div class="col-md-3 col-sm-6 work-counter-widget text-center wow animated fadeInUp" data-wow-delay=".2s">
          <div class="counter">
            <div class="icon">
              <img class="icon" src="{% static 'assets/images/icon/business-affiliate-network.svg' %}" alt="">
            </div>
            <div class="timer">8</div>
            <p>{% static_placeholder "Membre actifs" or %}Membres actifs{% endstatic_placeholder %}</p>
          </div>
        </div>
        <!-- Single Counter -->
        <div class="col-md-3 col-sm-6 work-counter-widget text-center wow animated fadeInUp" data-wow-delay=".3s">
          <div class="counter">
            <div class="icon">
              <img class="icon" src="{% static 'assets/images/icon/time.svg' %}" alt="">
            </div>
            <div class="timer">16</div>
            <p>{% static_placeholder "Heures de formations" or %}Heures de formation{% endstatic_placeholder %}</p>
          </div>
        </div>
        <!-- Single Counter -->
        <div class="col-md-3 col-sm-6 work-counter-widget text-center wow animated fadeInUp" data-wow-delay=".4s">
          <div class="counter">
            <div class="icon">
              <img class="icon" src="{% static 'assets/images/icon/handshake.svg' %}" alt="">
            </div>
            <div class="timer">6</div>
            <p>{% static_placeholder "Partenaires cle" or %}Partenaires clés{% endstatic_placeholder %}</p>
          </div>
        </div>
        <!-- Single Counter -->
        <div class="col-md-3 col-sm-6 work-counter-widget text-center wow animated fadeInUp" data-wow-delay=".5s">
          <div class="counter">
            <div class="icon">
              <img class="icon" src="{% static 'assets/images/icon/group-of-people-in-a-formation.svg' %}" alt="">
            </div>
            <div class="timer">74480</div>
            <p>{% static_placeholder "Avocats concernes" or %}Avocats concernés{% endstatic_placeholder %}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About Section End -->

  <!-- Portfolio Section -->
  <section class="matrl-portfolio-section section-padding">
    <div class="container">
      <div class="row">
        <!-- Section Titile -->
        <div class="col-md-4 col-lg-4 col-xl-6  matrl-title-section wow animated fadeInLeft" data-wow-delay=".2s">
          <h1 class="section-title">{% static_placeholder "Titre galerie photos" or %}Galerie photos{% endstatic_placeholder %}</h1>
        </div>
        <!-- Section Quote -->
        <div class="col-md-8 col-lg-8 col-xl-6  portfolio-nav mt-3 mb-3 wow animated fadeInRight" data-wow-delay=".2s">
          <ul class="nav nav-pills">
            <li><a class="filter active" data-filter="all">Tout</a></li>
            {% for categorie in categories %}
            <li><a class="filter" data-filter=".categorie{{ categorie.id }}">{{ categorie.categorie }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="portfolio-item-wrapper clearfix wow animated fadeInUp" data-wow-delay=".5s" id="matrl-portfolio">
          <!-- Single Portfolio Image -->
          {% for photo in photos %}
          {% render_model_block photo %}
          <div class="col-md-6 col-lg-4 col-xl-4 pb-4 mix categorie{{ photo.categorie.id }}">
            <figure class="single-portfolio">
              <img src="{{ photo.images.url }}" class="pop" id="myImg{{forloop.counter}}" alt="" style="height: 262px;object-fit: cover;">
              <figcaption class="hover-content">
                <a class="btn-picture btn btn-round btn-fab btn-xs" href=""><i class="material-icons mdi mdi-arrow-right"></i><div class="ripple-container"></div></a>
                  <h2 class="subtitle subtitle-picture">{{ photo.short_description }}</h2>
                <p>{{ photo.categorie }}</p>
              </figcaption>
            </figure>
          </div>
          {% endrender_model_block %}
          {% endfor %}
        </div>
      </div>
      <div class="row mt-4 wow animated fadeInUp" data-wow-delay=".3s">
        <div class="col-md-12 text-center">
<!--           <a href="javascript:void(0)" class="animated4 btn btn-common" data-ripple-color="#000"><i class="material-icons mdi mdi-lightbulb-outline"></i> Explore more work<div class="ripple-container"></div></a> -->
        </div>
      </div>
    </div>
  </section>
  <!-- Portfolio Section End -->

  <!-- Team Carousel -->
  <section class="team section-padding section-dark">
    <div class="container">
      <div class="row">
        <!-- Section Titile -->
        <div class="col-md-12 animated wow fadeInLeft" data-wow-delay=".2s">
          <h1 class="section-title">{% static_placeholder "Titre nos membres" or %}Nos membres{% endstatic_placeholder %}</h1>
        </div>
      </div>
      <div class="row wow animated fadeInUp" data-wow-delay=".4s">
        <div id="team-carousel" class="owl-carousel owl-theme">



                  {% for membre in membres %}
                  {% render_model_block membre %}
                  <div class="item {% if forloop.first %}active{% endif %}">
                    <!-- Single Team Widget -->
                    <div class="">
                      <div class="single-team-widget">
                        <div style="background-image: url('{{ membre.image.url }}'); width:100%;height: 200px; background-position:center; background-size:cover;">
                        </div>
                        <div class="team-member-info">
                          <div class="know-more">
                            <a class="btn-member-link btn btn-round btn-fab btn-xs" href="javascript:void(0)"><i class="material-icons mdi mdi-arrow-right"></i><div class="ripple-container"></div></a>
                          </div>
                          <h2 class="subtitle">{{ membre.nom }}</h2>
                          <p>{{ membre.pays }}</p>
                          <div class="social-profiles">
                            <a target="_blank" href="{{ membre.url_site_web }}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Site Web</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endrender_model_block %}
                  {% endfor %}
                </div>
              </div>
            </div>

  </section>
  <!-- Team Carousel End -->


<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="imagepreview">
  <div id="caption"></div>
</div>

  <!-- Back To Top -->
  <a href="#" class="back-to-top">
    <div class="ripple-container"></div>
    <i class="mdi mdi-arrow-up">
      </i>
  </a>
{% endblock %}

{% block javascript %}
<script>
$(document).on("click",".pop", function () {
   $('#imagepreview').attr('src', $(this).attr('src')); // here asign the image to the modal when the user click the enlarge link
   $('#myModal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
});

$("html").click(function(){
    $('#myModal').modal('hide');
});
</script>
{% endblock %}
