{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Bienvenue
{% endblock %}

{% block base_head %}

{% endblock %}

{% block content %}
  <!-- Page Titile Area -->
  <section class="page-title-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="page-tagline">Coordonnées</h2>
          <h1 class="page-title">Contactez-nous</h1>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Titile Area End -->

  <!-- Contact Us Section -->
  <section class="matrl-contact-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="contact-title text-center wow animated fadeInDown" data-wow-delay=".2s">Vous souhaitez plus d'informations?</h1>
        </div>
      </div>
      <div class="row mt-5">
        <!-- Section Titile -->
        <div class="col-md-6 contact-widget-section2 wow fadeInUp animated" data-wow-delay=".5s">
          <p>N'hésitez pas à nous contacter directement pour obtenir plus d'informations et pour vous renseigner sur l'affiliation de votre Barreau.</p>
          <div class="find-widget">
            <a href="#"><i class="material-icons mdi mdi-home"></i> 4435 Berkshire Circle Knoxville</a>
          </div>
          <div class="find-widget">
            <a href="#"><i class="material-icons mdi mdi-email"></i> hello@matrl.com</a>
          </div>
          <div class="find-widget">
            <a href="#"><i class="material-icons mdi mdi-phone mr-3"></i> 879-890-9767</a>
          </div>
          <div class="find-widget">
            <a href="#"><i class="material-icons mdi mdi-earth"></i> http://matrl.org</a>
          </div>
        </div>

        <!-- contact form -->
        <div class="col-md-6 wow fadeInUp animated" data-wow-delay=".5s">
             <form class="." id="signup_form" method="post" action="">
              {% csrf_token %}
              {% crispy form %}
            </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Us Section End -->

  <!-- Map Section Start -->
  <section id="google-map-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div id="conatiner-map"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- Map Section End -->


  <!-- Back To Top -->
  <a href="#" class="back-to-top">
    <div class="ripple-container"></div>
    <i class="mdi mdi-arrow-up"></i>
  </a>
{% endblock %}

{% block scripts %}
  <script src="{% static 'assets/js/map.js' %}"></script>
  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCsa2Mi2HqyEcEnM1urFSIGEpvualYjwwM"></script>
{% endblock %}
