{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load staticfiles cms_tags menu_tags sekizai_tags %}

{% block title %}
Bienvenue
{% endblock %}

{% block base_head %}

{% endblock %}

{% block content %}
  <!-- Page Titile Area -->
  <section class="page-title-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="page-tagline">{% static_placeholder "Petit titre Contact" or %}Coordonnées{% endstatic_placeholder %}</h2>
          <h1 class="page-title">{% static_placeholder "Petit titre Contact" or %}Contactez-nous{% endstatic_placeholder %}</h1>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Titile Area End -->

 <!-- Contact Us Section -->
  <section class="matrl-contact-section section-padding section-dark">
    <div class="container">
      <div class="row">
        <!-- Section Titile -->
        <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
          <h1 class="section-title">{% static_placeholder "Titre Contact" or %}Vous souhaitez plus d'informations ?{% endstatic_placeholder %}</h1>
        </div>
      </div>
      <div class="row">
        <!-- Section Titile -->
        <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
          <p>{% static_placeholder "Test contact" or %}N'hésitez pas à nous contacter directement pour obtenir plus d'informations et pour vous renseigner sur l'affiliation de votre Barreau.{% endstatic_placeholder %}</p>
          <div class="find-widget">
              <div class="row">
                <div class="col-md-2"><i class="material-icons mdi mdi-map-marker"></i></div>
                <div class="col-md-10" style="padding-top:6px;">{% static_placeholder "adress_contact" %}</div>
              </div>
          </div>
          <div class="find-widget">
              <div class="row">
                <div class="col-md-2"><i class="material-icons mdi mdi-email-open mr-3"></i></div>
                <div class="col-md-10" style="padding-top:6px;">{% static_placeholder "email_contact" %}</div>
              </div>
          </div>
        </div>
        <!-- contact form -->
        <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
          <form action="/welcome" class="shake" role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
              {% csrf_token %}
              {% crispy form %}
            <!-- Form Submit -->
            <div class="form-submit mt-5">
              <div id="msgSubmit" class="h3 text-center hidden"></div>
              <div class="clearfix"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Us Section End -->

  <!-- Map Section Start -->
  <section id="google-map-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div id="conatiner-map"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- Map Section End -->


  <!-- Back To Top -->
  <a href="#" class="back-to-top">
    <div class="ripple-container"></div>
    <i class="mdi mdi-arrow-up"></i>
  </a>
{% endblock %}

{% block scripts %}
  <script src="{% static 'assets/js/map.js' %}"></script>
  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCsa2Mi2HqyEcEnM1urFSIGEpvualYjwwM"></script>
{% endblock %}
