{% extends "base.html" %}
{% load static %}
{% load staticfiles cms_tags menu_tags sekizai_tags %}

{% block title %}
Bienvenue
{% endblock %}

{% block base_head %}

{% endblock %}

{% block content %}

  <!-- Page Titile Area -->
  <section class="page-title-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="page-tagline">{% static_placeholder "Petit titre FAQ" or %}FAQ{% endstatic_placeholder %}</h2>
          <h1 class="page-title">{% static_placeholder "Gros titre FAQ" or %}Foire aux questions{% endstatic_placeholder %}</h1>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Titile Area End -->

  <!-- Accirdion Section -->
  <section class="matrl-accordion-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12" data-wow-delay="">
          <div class="panel-group matrl-default-accordion" id="matrl-accordion">
            <div class="row">
              <div class="col-md-6">
              {% for faq in faqs %}
              {% if forloop.counter <= n_demi %}
                {% render_model_block faq %}
                  <div class="col-md-12">
                    <div class="panel panel-default mb-3">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a >
                            {{ faq.question }}
                          </a>
                        </h4>
                      </div>
                      <div id="collapse{{forloop.counter}}">
                        <div class="panel-body">
                          {% autoescape off %}{{ faq.reponse }}{% endautoescape %}
                        </div>
                      </div>
                    </div>
                  </div>
                {% endrender_model_block %}
              {% endif %}
              {% endfor %}
              </div>
              <div class="col-md-6">
              {% for faq in faqs %}
              {% if forloop.counter > n_demi %}
                {% render_model_block faq %}
                  <div class="col-md-12">
                    <div class="panel panel-default mb-3">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a >
                            {{ faq.question }}
                          </a>
                        </h4>
                      </div>
                      <div id="collapse{{forloop.counter}}">
                        <div class="panel-body">
                          {% autoescape off %}{{ faq.reponse }}{% endautoescape %}
                        </div>
                      </div>
                    </div>
                  </div>
                {% endrender_model_block %}
              {% endif %}
              {% endfor %}
              </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- Accirdion Section End -->


    <!-- Call to action Section -->
  <section class="call-to-action-section">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-8 col-lg-8 col-xs-12 text-left wow animated fadeInLeft" data-wow-delay=".2s">
          <h1>{% static_placeholder "Gros titre autre questions" or %}Vous avez d'autres questions ?{% endstatic_placeholder %}</h1>
          <h3>{% static_placeholder "Petit titre autre questions" or %}Contactez-nous directement{% endstatic_placeholder %}</h3>
        </div>
        <div class="col-md-4 col-lg-4 col-xs-12 mt-4 text-right wow animated fadeInRight" data-wow-delay=".3s">
          <a href="{% url 'contact' %}" class="animated4 btn btn-common"><i class="material-icons mdi mdi-phone"></i> Contactez-nous</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Call to action Section End -->


  <!-- Back To Top -->
  <a href="#" class="back-to-top">
    <div class="ripple-container"></div>
    <i class="mdi mdi-arrow-up"></i>
  </a>
{% endblock %}


{% block javascript %}
<script>
$(document).ready(function(){
    $('.collapse').on('show.bs.collapse', function (e) {
        $('.collapse').collapse("hide")
    })
})
</script>
{% endblock %}
