{% extends "base.html" %}
{% load static %}
{% load staticfiles cms_tags menu_tags sekizai_tags %}

{% block title %}
Bienvenue
{% endblock %}

{% block base_head %}

{% endblock %}

{% block content %}

  <!-- Page Titile Area -->
  <section class="page-title-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="page-tagline">{% static_placeholder "Petit titre FAQ" or %}FAQ{% endstatic_placeholder %}</h2>
          <h1 class="page-title">{% static_placeholder "Gros titre FAQ" or %}Foire aux questions{% endstatic_placeholder %}</h1>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Titile Area End -->

  <!-- Matrl Blog Post section -->
  <section class="matrl-blog-post-page section-padding">
    <div class="container">
      <div class="row">
        <!-- Blog Post -->
        <div class="col-md-12 col-lg-12 col-xs-12 blog-post-column">
          <div class="row">
          {% if faqs %}
            {% for faq in faqs%}
            {% if forloop.counter <= n_demi %}
            <!-- Split Left -->
            <div class="col-md-6 no-padding">
              <!-- Single Blog Post -->
              <div class="col-md-12 wow animated fadeInUp" data-wow-delay=".2s">
                <article class="single-blog-post post-without-image">
                  <!-- Featured Image -->
                  <div class="featured-image blue-bg">
                  </div>
                  <!-- Post Meta -->
                  <div class="post-meta">
                    <div class="post-date">
                      <span><b>Jan 25 2018</b></span>
                    </div>
                    <!-- Title -->
                    <a href="#">
                      <h2 class="subtitle">{{ faq.question }}</h2>
                    </a>
                    <p>{{ faq.reponse }}</p>
                  </div>
                </article>
              </div>
            </div>
            {% endif %}
            {% endfor %}

            <!-- Split Right -->
            {% for faq in faqs %}
            {% if forloop.counter > n_demi %}
            <div class="col-md-6 no-padding">
              <!-- Single Blog Post -->
              <div class="col-md-12 wow animated fadeInUp" data-wow-delay=".5s">
                <article class="single-blog-post post-without-image">
                  <!-- Featured Image -->
                  <div class="featured-image aqua-bg">

                  </div>
                  <!-- Post Meta -->
                  <div class="post-meta">
                    <div class="post-date">
                      <span><b>Oct 25 2018</b></span>
                    </div>
                    <!-- Title -->
                    <a href="#">
                      <h2 class="subtitle">{{ faq.question }}</h2>
                    </a>
                    <p>{{ faq.reponse }}</p>
                  </div>
                </article>
              </div>
            </div>
            {% endif %}
            {% endfor %}

          {% else %}
            Aucun résultat ne correspond à votre recherche. Essayer autre chose?
          {% endif %}
          </div>
        </div>
        <!--Blog Post ENd -->

      </div>
    </div>
  </section>
  <!-- Matrl Blog Post section End -->

    <!-- Call to action Section -->
  <section class="call-to-action-section">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-8 col-lg-8 col-xs-12 text-left wow animated fadeInLeft" data-wow-delay=".2s">
          <h1>{% static_placeholder "Gros titre autre questions" or %}Vous avez d'autres questions ?{% endstatic_placeholder %}</h1>
          <h3>{% static_placeholder "Petit titre autre questions" or %}Contactez-nous directement{% endstatic_placeholder %}</h3>
        </div>
        <div class="col-md-4 col-lg-4 col-xs-12 mt-4 text-right wow animated fadeInRight" data-wow-delay=".3s">
          <a href="javascript:void(0)" class="animated4 btn btn-common"><i class="material-icons mdi mdi-phone"></i> Contact us</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Call to action Section End -->


  <!-- Back To Top -->
  <a href="#" class="back-to-top">
    <div class="ripple-container"></div>
    <i class="mdi mdi-arrow-up"></i>
  </a>
{% endblock %}
