{% extends "base.html" %}
{% load static %}

{% block title %}
Bienvenue
{% endblock %}

{% block base_head %}

{% endblock %}

{% block content %}

  <!-- Page Titile Area -->
  <section class="page-title-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="page-tagline">Découvrez</h2>
          <h1 class="page-title">Nos partenaires</h1>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Titile Area End -->

  <!-- Intro-->
  <section class="welcome-section section-padding-welcome">
    <div class="container">
      <div class="row">
          <div class="col-md-1">
          </div>
          <div class="text-partenaire col-md-10 col-xs-12">
            <h1 class="text-partenaire">Essentiels pour une actualisation permanente</h1>
            <p>Les barreaux des trois capitales de l'Union européenne, Luxembourg, Strasbourg et Bruxelles, ont décidé d'unir leurs forces en créant l'<b>Institut de Droit Européen des Barreaux</b> (I.D.E.B). Les trois bâtonniers en ont signé les statuts le 8 juin 2017, sous la forme d'une A.I.S.B.L. (association internationale sans but lucratif) de droit belge dont le siège est situé à Bruxelles.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- End of Intro-->

    <!-- Titre Partenaire -->
    <section class="matrl-service-section section-padding-partenaire">
      <div class="container">
        <div class="row">
       <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
          <h1 class="section-title">Nos partenaires</h1>
        </div>
      </div>
      </div>
  </section>
  <!-- End of Titre Partenaire -->

  <!-- Start Partenaire Section  -->
  <div class="testimonial section-padding">
    <div class="container">
      <div class="row">
        <!-- Testimonial section  -->
        <div class="testimonials-carousel owl-carousel">
          {% for partenaire in partenaires %}
          <div class="item">
            <div class="testimonial-item">
                <div class="img" style="background-image: url('{{ partenaire.logo.url }}'); background-position:center; width:200px; height:100px;background-size:cover;">
                </div>
              <div class="datils">
                <h5>{{ partenaire.nom }}</h5>
                <span>{{ partenaire.ville }} - {{ partenaire.pays }}</span>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- End Partenaire Section  -->

  <!-- Les dates-->
  <section class="matrl-service-section section-padding">
    <div class="container">
      <div class="row">
       <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
          <h1 class="section-title">Les dates de l'IDEB</h1>
        </div>
      </div>
        <div class="row">
          <div class="text-partenaire col-md-10 col-xs-12">
            <h1 class="text-partenaire text-date">Le 16 janvier 2014</h1>
            <p>A l'occasion de la rentrée solennelle du Barreau de Bruxelles, l'idée d'organiser des formations en droit européen entre Luxembour, Strasbourg et Bruxelles est lancée par le futur bâtonnier de Bruxelles qui réunit à cette occasion les bâtonniers des deux autres capitales.</p>
          </div>
        </div>
        <div class="row">
          <div class="text-partenaire col-md-10 col-xs-12">
            <h1 class="text-partenaire text-date">Le 10 mai 2016</h1>
            <p>A l'occasion de la rentrée solennelle du Barreau de Bruxelles, l'idée d'organiser des formations en droit européen entre Luxembour, Strasbourg et Bruxelles est lancée par le futur bâtonnier de Bruxelles qui réunit à cette occasion les bâtonniers des deux autres capitales.</p>
          </div>
        </div>
        <div class="row">
          <div class="text-partenaire col-md-10 col-xs-12">
            <h1 class="text-partenaire text-date">Le 8 juin 2017</h1>
            <p>A l'occasion de la rentrée solennelle du Barreau de Bruxelles, l'idée d'organiser des formations en droit européen entre Luxembour, Strasbourg et Bruxelles est lancée par le futur bâtonnier de Bruxelles qui réunit à cette occasion les bâtonniers des deux autres capitales.</p>
          </div>
        </div>
        <div class="row">
          <div class="text-partenaire col-md-10 col-xs-12">
            <h1 class="text-partenaire text-date">Le 26 et 27 juin 2017</h1>
            <p>A l'occasion de la rentrée solennelle du Barreau de Bruxelles, l'idée d'organiser des formations en droit européen entre Luxembour, Strasbourg et Bruxelles est lancée par le futur bâtonnier de Bruxelles qui réunit à cette occasion les bâtonniers des deux autres capitales.</p>
          </div>
        </div>
        <div class="row">
          <div class="text-partenaire col-md-10 col-xs-12">
            <h1 class="text-partenaire text-date">Le 31 juillet 2017</h1>
            <p>A l'occasion de la rentrée solennelle du Barreau de Bruxelles, l'idée d'organiser des formations en droit européen entre Luxembour, Strasbourg et Bruxelles est lancée par le futur bâtonnier de Bruxelles qui réunit à cette occasion les bâtonniers des deux autres capitales.</p>
          </div>
        </div>
        <div class="row">
          <div class="text-partenaire col-md-10 col-xs-12">
            <h1 class="text-partenaire text-date">Le 30 novembre 2017</h1>
            <p>A l'occasion de la rentrée solennelle du Barreau de Bruxelles, l'idée d'organiser des formations en droit européen entre Luxembour, Strasbourg et Bruxelles est lancée par le futur bâtonnier de Bruxelles qui réunit à cette occasion les bâtonniers des deux autres capitales.</p>
          </div>
        </div>
        <div class="row">
          <div class="text-partenaire col-md-10 col-xs-12">
            <h1 class="text-partenaire text-date">Le 20 décembre 2017</h1>
            <p>A l'occasion de la rentrée solennelle du Barreau de Bruxelles, l'idée d'organiser des formations en droit européen entre Luxembour, Strasbourg et Bruxelles est lancée par le futur bâtonnier de Bruxelles qui réunit à cette occasion les bâtonniers des deux autres capitales.</p>
          </div>
        </div>
        <div class="row">
          <div class="text-partenaire col-md-10 col-xs-12">
            <h1 class="text-partenaire text-date">Le 23 mars et le 24 avril 2018</h1>
            <p>A l'occasion de la rentrée solennelle du Barreau de Bruxelles, l'idée d'organiser des formations en droit européen entre Luxembour, Strasbourg et Bruxelles est lancée par le futur bâtonnier de Bruxelles qui réunit à cette occasion les bâtonniers des deux autres capitales.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- End of Les dates-->


  <!-- Back To Top -->
  <a href="#" class="back-to-top">
    <div class="ripple-container"></div>
    <i class="mdi mdi-arrow-up"></i>
  </a>
{% endblock %}
