{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% load cms_tags staticfiles sekizai_tags %}
{% load cms_tags menu_tags sekizai_tags %}
{% load cms_tags %}


{% block title %}
Bienvenue
{% endblock %}

{% block base_head %}

{% endblock %}

{% block content %}

  <!-- Main Carousel Section Start -->
  <div id="main-slide" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#main-slide" data-slide-to="0" class="active"></li>
      <li data-target="#main-slide" data-slide-to="1"></li>
      <li data-target="#main-slide" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{% static 'assets/images/slider/slider-bg1.jpg' %}" alt="First slide">
        <div class="carousel-caption d-md-block">
          <h1 class="animated wow fadeInDown hero-heading" data-wow-delay=".4s">{% placeholder "title" %}Institut de Droit Européen des Barreaux</h1>
          <a href="javascript:void(0)" class="animated fadeInUp wow btn btn-common btn-carousel" data-wow-delay=".8s">Découvrez nos formations<div class="ripple-container"></div></a>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'assets/images/slider/slider-bg2.jpg' %}" alt="Second slide">
        <div class="carousel-caption d-md-block">
          <h1 class="animated wow fadeInLeft hero-heading" data-wow-delay=".7s">Institut de Droit Européen des Barreaux</h1>
          <a href="javascript:void(0)" class="animated fadeInUp wow btn btn-common btn-carousel data-wow-delay=".8s">Découvrez nos formations<div class="ripple-container"></div></a>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'assets/images/slider/slider-bg3.jpg' %}" alt="Third slide">
        <div class="carousel-caption d-md-block">
          <h1 class="animated wow fadeInDown hero-heading" data-wow-delay=".6s">Institut de Droit Européen des Barreaux</h1>
          <a href="javascript:void(0)" class="animated fadeInUp wow btn btn-common btn-carousel" data-wow-delay=".8s">Découvrez nos formations</a>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#main-slide" role="button" data-slide="prev">
      <span class="carousel-control" aria-hidden="true"><i class="mdi mdi-arrow-left" data-ripple-color="#F0F0F0"></i></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#main-slide" role="button" data-slide="next">
      <span class="carousel-control" aria-hidden="true"><i class="mdi mdi-arrow-right" data-ripple-color="#F0F0F0"></i></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Main Carousel Section End -->

  <!-- Welcome Section Start -->
  <section class="welcome-section section-padding-welcome">
    <div class="container">
      <div class="row">
          <div class="col-md-1">
          </div>
          <div class="text-intro col-md-10 col-xs-12">
            {% placeholder "content_first" %}
            <p class="text-intro">Les barreaux des trois capitales de l'Union européenne, Luxembourg, Strasbourg et Bruxelles, ont décidé d'unir leurs forces en créant l'<b>Institut de Droit Européen des Barreaux</b> (I.D.E.B). Les trois bâtonniers en ont signé les statuts le 8 juin 2017, sous la forme d'une A.I.S.B.L. (association internationale sans but lucratif) de droit belge dont le siège est situé à Bruxelles.</p>
          </div>

        <div class="col-md-6 col-lg-6 col-xs-12">
          <div class="welcome-content">
            <div class="text">
              <h1>Des partenariats essentiels</h1>
              <p>En partenariat avec la Cour de Justice de l'Union européenne, l'Université libre de Bruxelles, les Facultés Saint Louis de Bruxelles et l'Ecole Régionale des Avocats du Grand Est, son objectif est de <b>soutenir la connaissance du droit européen</b> et de la jurisprudence de la Cour européenne des droits de l'Homme dans les différents barreaux européens de langue française afin que les avocats <b>favorisent le réflexe européen</b> dans leur pratique quotidienne</p>
            </div>
            <div class="button btn-welcome">
              <a href="{% url 'a-propos' %}" class="btn btn-common btn-IDEB">
                  En savoir plus sur l'IDEB
                  <div class="ripple-container"></div>
                </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 welcome-column">
          <div class="img-welcome">
            <img class="img-fluid" src="{% static 'assets/images/about/800x600.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Welcome Section End -->

  <!-- Start Client Section -->
  <div class="client section-padding section-dark">
    <div class="container">
      <div class="row">
        <div id="client-logo" class="owl-carousel">
          <div class="client-logo item">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/images/clients/client1.png' %}" alt="" />
            </a>
          </div>
          <div class="client-logo item">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/images/clients/client2.png' %}" alt="" />
            </a>
          </div>
          <div class="client-logo item">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/images/clients/client3.png' %}" alt="" />
            </a>
          </div>
          <div class="client-logo item">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/images/clients/client4.png' %}" alt="" />
            </a>
          </div>
          <div class="client-logo item">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/images/clients/client1.png' %}" alt="" />
            </a>
          </div>
          <div class="client-logo item">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/images/clients/client2.png' %}" alt="" />
            </a>
          </div>
          <div class="client-logo item">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/images/clients/client3.png' %}" alt="" />
            </a>
          </div>
          <div class="client-logo item">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/images/clients/client4.png' %}" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Client Section -->

  <!-- Our BLog Section -->
  <section class="matrl-blog-section section-padding">
    <div class="container">
      <div class="row">
        <!-- Section Titile -->
        <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
          <h1 class="section-title">Découvrez nos formations</h1>
        </div>
      </div>

      <div class="row">
        {% for formation in formations %}
        <!-- Single Article -->
        <div class="col-md-6 col-lg-4 col-xl-4 wow animated fadeInUp" data-wow-delay=".3s">
          <article class="single-blog-post">
            <!-- Featured Image -->
            <div class="featured-image" style="background-image: url('{{ formation.image.url }}'); width:100%;height: 232px; background-position:center; background-size:cover;">
              <a href="#">

              </a>
            </div>
            <!-- Post Meta -->
            <div class="post-meta">
              <!-- Title -->
              <a href="blog-single.html">
                <h2 class="subtitle">{{ formation.titre }}</h2>
              </a>
              <p>{{ formation.short_description }}</p>
            </div>
            <div class="meta-tags">
              <span class="comments"><a href="#"><i class="mdi mdi-comment-outline"></i></a></span>
              <!-- Read More -->
              <a class="btn btn-round btn-fab" href="blog-single.html"><i class="material-icons mdi mdi-arrow-right"></i><div class="ripple-container"></div></a>
            </div>
          </article>
        </div>
        <!-- End SingleArticle-->
        {% endfor %}

      </div>
      <div class="row mt-5 wow animated fadeInUp" data-wow-delay=".2s">
        <!-- Button -->
        <div class="col-md-12 text-center">
          <a href="blog.html" class="animated4 btn btn-common btn-IDEB" data-ripple-color="#000">Toutes nos formations<div class="ripple-container"></div></a>
        </div>
      </div>
    </div>
  </section>
  <!-- Our BLog Section End -->

  <!-- Contact Us Section -->
  <section class="matrl-contact-section section-padding section-dark">
    <div class="container">
      <div class="row">
        <!-- Section Titile -->
        <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
          <h1 class="section-title">Vous souhaitez plus d'informations ?</h1>
        </div>
      </div>
      <div class="row">
        <!-- Section Titile -->
        <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
          <p>N'hésitez pas à nous contacter directement pour obtenir plus d'informations et pour vous renseigner sur l'affiliation de votre Barreau.</p>
          <div class="find-widget">
            <a href="#"><i class="material-icons mdi mdi-map-marker"></i>4435 Berkshire Circle Knoxville</a>
          </div>
          <div class="find-widget">
            <a href="#"><i class="material-icons mdi mdi-phone"></i> + 879-890-9767</a>
          </div>
          <div class="find-widget">
            <a href="#"><i class="material-icons mdi mdi-email-open mr-3"></i> support@matrl.com</a>
          </div>
          <div class="find-widget">
            <a href="#"><i class="material-icons mdi mdi-clock"></i> Mon to Sat: 09:30 AM - 10.30 PM</a>
          </div>
        </div>
        <!-- contact form -->
        <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
          <form action="/welcome" class="shake" role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
              {% csrf_token %}
              {% crispy form %}
            <!-- Form Submit -->
            <div class="form-submit mt-5">
              <div id="msgSubmit" class="h3 text-center hidden"></div>
              <div class="clearfix"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Us Section End -->

  <!-- Back To Top -->
  <a href="#" class="back-to-top">
    <div class="ripple-container"></div>
    <i class="mdi mdi-arrow-up"></i>
  </a>

{% endblock %}


