/* Image Carousel */
#matrl-image-carousel {
	.item {
		img {
		    width: 258px;
		}
	}
	.owl-pagination {
		text-align: center;
		margin-top: 10px;
	}
}
#team-carousel {
	.owl-pagination {
		text-align: center;
		margin-top: 10px;
	}
}