{% extends "base.html" %}
{% load static %}

{% block title %}
Bienvenue
{% endblock %}

{% block base_head %}

{% endblock %}

{% block content %}
<!-- Page Titile Area -->
  <section class="page-title-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="page-tagline">A propos</h2>
          <h1 class="page-title">de l'IDEB</h1>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Titile Area End -->

  <!-- Welcome Section Start -->
  <section class="welcome-section section-padding section-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-7 col-xs-12">
          <div class="matrl-tab">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#business" role="tab"><i class="mdi mdi-account-multiple-outline"></i> <br> Business</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#startup" role="tab"><i class="mdi mdi-flash-outline"></i> <br> Startup</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#agency" role="tab"><i class="mdi mdi-all-inclusive"></i> <br> Agency</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#saas" role="tab"><i class="mdi mdi-cloud-outline"></i> <br> SaaS</a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane fade show active" id="business" role="tabpanel">
                <p>Dans un premier temps, l'I.D.E.B s'adresse à tous les barreaux des pays membres de l'Union européenne et du Conseil de l'Europe de langue française.</p>
                <p>Il répond à une attente qui est moins rencontrée dans cette langue, ce qui n'exclut pas à terme une ouverture vers d'autres barreaux appartenant à l'Espace Economique Européen, la Suisse ou le bassin méditerranéen. L'ouverture à d'autres langues est d'ores et déjà envisagée.</p>
              </div>
              <div class="tab-pane fade" id="startup" role="tabpanel">
                <p>Dans un premier temps, l'I.D.E.B s'adresse à tous les barreaux des pays membres de l'Union européenne et du Conseil de l'Europe de langue française.</p>
                <p>Il répond à une attente qui est moins rencontrée dans cette langue, ce qui n'exclut pas à terme une ouverture vers d'autres barreaux appartenant à l'Espace Economique Européen, la Suisse ou le bassin méditerranéen. L'ouverture à d'autres langues est d'ores et déjà envisagée.</p>
              </div>
              <div class="tab-pane fade" id="agency" role="tabpanel">
                <p>Dans un premier temps, l'I.D.E.B s'adresse à tous les barreaux des pays membres de l'Union européenne et du Conseil de l'Europe de langue française.</p>
                <p>Il répond à une attente qui est moins rencontrée dans cette langue, ce qui n'exclut pas à terme une ouverture vers d'autres barreaux appartenant à l'Espace Economique Européen, la Suisse ou le bassin méditerranéen. L'ouverture à d'autres langues est d'ores et déjà envisagée.</p>
              </div>
              <div class="tab-pane fade" id="saas" role="tabpanel">
                <p>Dans un premier temps, l'I.D.E.B s'adresse à tous les barreaux des pays membres de l'Union européenne et du Conseil de l'Europe de langue française.</p>
                <p>Il répond à une attente qui est moins rencontrée dans cette langue, ce qui n'exclut pas à terme une ouverture vers d'autres barreaux appartenant à l'Espace Economique Européen, la Suisse ou le bassin méditerranéen. L'ouverture à d'autres langues est d'ores et déjà envisagée.</p>
              </div>
            <a href="javascript:void(0)" class="animated4 btn btn-common" data-ripple-color="#000"><i class="material-icons mdi mdi-lightbulb-outline"></i> Découvrez-en plus dans notre FAQ<div class="ripple-container"></div></a>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-5 col-xs-12 welcome-column">
          <div class="video-gallery">
            <img class="img-fluid" src="{% static 'assets/images/about/video.jpg' %}" alt="">
            <div class="overlay-gallery">
              <div class="icon-holder">
                <div class="icon">
                  <a href="https://www.youtube.com/watch?v=r44RKWyfcFw" class="video-popup wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s"><i class="mdi mdi-play-circle-outline"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Welcome Section End -->



  <!-- About Section -->
  <section class="matrl-about-section section-padding">
    <div class="container">
      <div class="row">
        <!-- Section Titile -->
        <div class="col-md-12 animated wow fadeInLeft" data-wow-delay=".2s">
          <h1 class="section-title">Comment fonctionne l'I.D.E.B</h1>
        </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aspernatur fugit quam. Dolorem, possimus laboriosam at cum deleniti. Modi, dicta, asperiores. A hic rerum, illum aut eaque tempora quia ab modi quasi est nam quos atque minima ratione voluptatibus suscipit in ad expedita veritatis recusandae quisquam voluptatem libero. Debitis perferendis, quos inventore ducimus omnis a adipisci harum ipsam hic in, repellendus velit dolorem necessitatibus deleniti ea, fugit veniam recusandae, mollitia quo est quas quaerat! Assumenda voluptatum perferendis, suscipit obcaecati nam accusantium, vero pariatur quibusdam possimus laborum. Perferendis dolorum, facilis nemo adipisci deserunt aperiam voluptas porro quos, earum ad eius accusamus.</p>
        <!-- Single Counter -->
        <div class="col-md-3 col-sm-6 work-counter-widget text-center wow animated fadeInUp" data-wow-delay=".2s">
          <div class="counter">
            <div class="icon"><i class="material-icons mdi mdi-check-all"></i></div>
            <div class="timer">7</div>
            <p>Membres actifs</p>
          </div>
        </div>
        <!-- Single Counter -->
        <div class="col-md-3 col-sm-6 work-counter-widget text-center wow animated fadeInUp" data-wow-delay=".3s">
          <div class="counter">
            <div class="icon"><i class="material-icons mdi mdi-clock"></i></div>
            <div class="timer">345</div>
            <p>Heures de formation</p>
          </div>
        </div>
        <!-- Single Counter -->
        <div class="col-md-3 col-sm-6 work-counter-widget text-center wow animated fadeInUp" data-wow-delay=".4s">
          <div class="counter">
            <div class="icon"><i class="material-icons mdi mdi-cellphone-link"></i></div>
            <div class="timer">8</div>
            <p>Partenaires clés</p>
          </div>
        </div>
        <!-- Single Counter -->
        <div class="col-md-3 col-sm-6 work-counter-widget text-center wow animated fadeInUp" data-wow-delay=".5s">
          <div class="counter">
            <div class="icon"><i class="material-icons mdi mdi-cisco-webex"></i></div>
            <div class="timer">12350</div>
            <p>Avocats inscrits</p>
          </div>
        </div>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est adipisci deleniti doloremque nihil illo ex cumque reprehenderit, itaque amet nostrum nisi in necessitatibus quo veniam, iure ducimus, possimus rerum ipsa pariatur officiis? Modi voluptatem assumenda vitae sequi voluptas dolor, eos culpa pariatur quaerat quos ex nihil quidem, nobis unde deserunt maiores consequuntur. Voluptate quos sunt expedita illum accusantium, esse in voluptatum eaque animi doloremque sint delectus facilis ad similique perferendis sed iure error deleniti velit. Non impedit ex pariatur, aliquid quos voluptatum consequuntur voluptatibus magni ratione unde. Quo voluptates inventore culpa aut exercitationem eum, blanditiis quas neque quae. Mollitia, veniam.</p>
    </div>
  </section>
  <!-- About Section End -->

  <!-- Portfolio Section -->
  <section class="matrl-portfolio-section section-padding section-dark">
    <div class="container">
      <div class="row">
        <!-- Section Titile -->
        <div class="col-md-4 col-lg-4 col-xl-6  matrl-title-section wow animated fadeInLeft" data-wow-delay=".2s">
          <h1 class="section-title">Gallerie photos</h1>
        </div>
        <!-- Section Quote -->
        <div class="col-md-8 col-lg-8 col-xl-6  portfolio-nav mt-3 mb-3 wow animated fadeInRight" data-wow-delay=".2s">
          <ul class="nav nav-pills">
            <li><a class="filter active" data-filter="all">All</a></li>
            <li><a class="filter" data-filter=".business">Workshops</a></li>
            <li><a class="filter" data-filter=".creative">Conférences</a></li>
            <li><a class="filter" data-filter=".education">Formations</a></li>
            <li><a class="filter" data-filter=".blog">IDEB</a></li>
          </ul>
        </div>
        <div class="portfolio-item-wrapper clearfix wow animated fadeInUp" data-wow-delay=".5s" id="matrl-portfolio">
          <!-- Single Portfolio Image -->
          <div class="col-md-6 col-lg-4 col-xl-4 pb-4 mix business blog">
            <figure class="single-portfolio">
              <img class="img-fluid" src="{% static 'assets/images/portfolio/work1.jpg' %}" alt="">
              <figcaption class="hover-content">
                <a class="btn btn-round btn-fab btn-xs" href="portfolio-single.html"><i class="material-icons mdi mdi-arrow-right"></i><div class="ripple-container"></div></a>
                <a href="portfolio-single.html">
                  <h2 class="subtitle">A boat of hope</h2>
                </a>
                <p>Istambul, Turkey</p>
              </figcaption>
            </figure>
          </div>
          <!-- Single Portfolio Image -->
          <div class="col-md-6 col-lg-4 col-xl-4 mix education more">
            <figure class="single-portfolio">
              <img class="img-fluid" src="{% static 'assets/images/portfolio/work2.jpg' %}" alt="">
              <figcaption class="hover-content">
                <a class="btn btn-round btn-fab btn-xs" href="portfolio-single.html"><i class="material-icons mdi mdi-arrow-right"></i><div class="ripple-container"></div></a>
                <a href="portfolio-single.html">
                  <h2 class="subtitle">Visit to moon</h2>
                </a>
                <p>Nasa, USA</p>
              </figcaption>
            </figure>
          </div>
          <!-- Single Portfolio Image -->
          <div class="col-md-6 col-lg-4 col-xl-4 mix free education blog">
            <figure class="single-portfolio">
              <img class="img-fluid" src="{% static 'assets/images/portfolio/work3.jpg' %}" alt="">
              <figcaption class="hover-content">
                <a class="btn btn-round btn-fab btn-xs" href="portfolio-single.html"><i class="material-icons mdi mdi-arrow-right"></i><div class="ripple-container"></div></a>
                <a href="portfolio-single.html">
                  <h2 class="subtitle">Lighthouse of Cox</h2>
                </a>
                <p>Chittagong, Bangladesh</p>
              </figcaption>
            </figure>
          </div>
          <!-- Single Portfolio Image -->
          <div class="col-md-6 col-lg-4 col-xl-4 mix creative more business">
            <figure class="single-portfolio">
              <img class="img-fluid" src="{% static 'assets/images/portfolio/work4.jpg' %}" alt="">
              <figcaption class="hover-content">
                <a class="btn btn-round btn-fab btn-xs" href="portfolio-single.html"><i class="material-icons mdi mdi-arrow-right"></i><div class="ripple-container"></div></a>
                <a href="portfolio-single.html">
                  <h2 class="subtitle">Bug of the day</h2>
                </a>
                <p>Delhi, India</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="row mt-4 wow animated fadeInUp" data-wow-delay=".3s">
        <div class="col-md-12 text-center">
          <a href="javascript:void(0)" class="animated4 btn btn-common" data-ripple-color="#000"><i class="material-icons mdi mdi-lightbulb-outline"></i> Explore more work<div class="ripple-container"></div></a>
        </div>
      </div>
    </div>
  </section>
  <!-- Portfolio Section End -->

  <!-- Team Carousel -->
  <section class="team section-padding section-dark">
    <div class="container">
      <div class="row">
        <!-- Section Titile -->
        <div class="col-md-12 animated wow fadeInLeft" data-wow-delay=".2s">
          <h1 class="section-title">Nos membres</h1>
        </div>
      </div>
      <div class="row wow animated fadeInUp" data-wow-delay=".4s">
        <div id="team-carousel" class="owl-carousel owl-theme">
          <div class="item active">
            <!-- Single Team Widget -->
            <div class="">
              <div class="single-team-widget">
                <img src="{% static 'assets/images/team/team1.jpg' %}" class="img-fluid" alt="">
                <div class="team-member-info">
                  <div class="know-more">
                    <a class="btn btn-round btn-fab btn-xs" href="javascript:void(0)"><i class="material-icons mdi mdi-arrow-right"></i><div class="ripple-container"></div></a>
                  </div>
                  <h2 class="subtitle">Rob Percy</h2>
                  <p>Co-Founder</p>
                  <div class="social-profiles">
                    <a href="#"><i class="mdi mdi-twitter"></i></a>
                    <a href="#"><i class="mdi mdi-facebook"></i></a>
                    <a href="#"><i class="mdi mdi-dribbble"></i></a>
                    <a href="#"><i class="mdi mdi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item item">
            <!-- Single Team Widget -->
            <div class="">
              <div class="single-team-widget">
                <img src="{% static 'assets/images/team/team2.jpg' %}" class="img-fluid" alt="">
                <div class="team-member-info">
                  <div class="know-more">
                    <a class="btn btn-round btn-fab btn-xs" href="javascript:void(0)"><i class="material-icons mdi mdi-arrow-right"></i><div class="ripple-container"></div></a>
                  </div>
                  <h2 class="subtitle">Jennifer L.</h2>
                  <p>Graphic Designer</p>
                  <div class="social-profiles">
                    <a href="#"><i class="mdi mdi-twitter"></i></a>
                    <a href="#"><i class="mdi mdi-facebook"></i></a>
                    <a href="#"><i class="mdi mdi-dribbble"></i></a>
                    <a href="#"><i class="mdi mdi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <!-- Single Team Widget -->
            <div class="">
              <div class="single-team-widget">
                <img src="{% static 'assets/images/team/team3.jpg' %}" class="img-fluid" alt="">
                <div class="team-member-info">
                  <div class="know-more">
                    <a class="btn btn-round btn-fab btn-xs" href="javascript:void(0)"><i class="material-icons mdi mdi-arrow-right"></i><div class="ripple-container"></div></a>
                  </div>
                  <h2 class="subtitle">Tom Hanks.</h2>
                  <p>SEO Speacialist</p>
                  <div class="social-profiles">
                    <a href="#"><i class="mdi mdi-twitter"></i></a>
                    <a href="#"><i class="mdi mdi-facebook"></i></a>
                    <a href="#"><i class="mdi mdi-dribbble"></i></a>
                    <a href="#"><i class="mdi mdi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <!-- Single Team Widget -->
            <div class="">
              <div class="single-team-widget">
                <img src="{% static 'assets/images/team/team4.jpg' %}" class="img-fluid" alt="">
                <div class="team-member-info">
                  <div class="know-more">
                    <a class="btn btn-round btn-fab btn-xs" href="javascript:void(0)"><i class="material-icons mdi mdi-arrow-right"></i><div class="ripple-container"></div></a>
                  </div>
                  <h2 class="subtitle">Emma Watson</h2>
                  <p>Head Of Ideas</p>
                  <div class="social-profiles">
                    <a href="#"><i class="mdi mdi-twitter"></i></a>
                    <a href="#"><i class="mdi mdi-facebook"></i></a>
                    <a href="#"><i class="mdi mdi-dribbble"></i></a>
                    <a href="#"><i class="mdi mdi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <!-- Single Team Widget -->
            <div class="">
              <div class="single-team-widget">
                <img src="{% static 'assets/images/team/team1.jpg' %}" class="img-fluid" alt="">
                <div class="team-member-info">
                  <div class="know-more">
                    <a class="btn btn-round btn-fab btn-xs" href="javascript:void(0)"><i class="material-icons mdi mdi-arrow-right"></i><div class="ripple-container"></div></a>
                  </div>
                  <h2 class="subtitle">Rob Percy</h2>
                  <p>Co-Founder</p>
                  <div class="social-profiles">
                    <a href="#"><i class="mdi mdi-twitter"></i></a>
                    <a href="#"><i class="mdi mdi-facebook"></i></a>
                    <a href="#"><i class="mdi mdi-dribbble"></i></a>
                    <a href="#"><i class="mdi mdi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item item">
            <!-- Single Team Widget -->
            <div class="">
              <div class="single-team-widget">
                <img src="{% static 'assets/images/team/team2.jpg' %}" class="img-fluid" alt="">
                <div class="team-member-info">
                  <div class="know-more">
                    <a class="btn btn-round btn-fab btn-xs" href="javascript:void(0)"><i class="material-icons mdi mdi-arrow-right"></i><div class="ripple-container"></div></a>
                  </div>
                  <h2 class="subtitle">Jennifer L.</h2>
                  <p>Graphic Designer</p>
                  <div class="social-profiles">
                    <a href="#"><i class="mdi mdi-twitter"></i></a>
                    <a href="#"><i class="mdi mdi-facebook"></i></a>
                    <a href="#"><i class="mdi mdi-dribbble"></i></a>
                    <a href="#"><i class="mdi mdi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <!-- Single Team Widget -->
            <div class="">
              <div class="single-team-widget">
                <img src="{% static 'assets/images/team/team3.jpg' %}" class="img-fluid" alt="">
                <div class="team-member-info">
                  <div class="know-more">
                    <a class="btn btn-round btn-fab btn-xs" href="javascript:void(0)"><i class="material-icons mdi mdi-arrow-right"></i><div class="ripple-container"></div></a>
                  </div>
                  <h2 class="subtitle">Tom Hanks.</h2>
                  <p>SEO Speacialist</p>
                  <div class="social-profiles">
                    <a href="#"><i class="mdi mdi-twitter"></i></a>
                    <a href="#"><i class="mdi mdi-facebook"></i></a>
                    <a href="#"><i class="mdi mdi-dribbble"></i></a>
                    <a href="#"><i class="mdi mdi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <!-- Single Team Widget -->
            <div class="">
              <div class="single-team-widget">
                <img src="{% static 'assets/images/team/team4.jpg' %}" class="img-fluid" alt="">
                <div class="team-member-info">
                  <div class="know-more">
                    <a class="btn btn-round btn-fab btn-xs" href="javascript:void(0)"><i class="material-icons mdi mdi-arrow-right"></i><div class="ripple-container"></div></a>
                  </div>
                  <h2 class="subtitle">Emma Watson</h2>
                  <p>Head Of Ideas</p>
                  <div class="social-profiles">
                    <a href="#"><i class="mdi mdi-twitter"></i></a>
                    <a href="#"><i class="mdi mdi-facebook"></i></a>
                    <a href="#"><i class="mdi mdi-dribbble"></i></a>
                    <a href="#"><i class="mdi mdi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Team Carousel End -->



  <!-- Back To Top -->
  <a href="#" class="back-to-top">
    <div class="ripple-container"></div>
    <i class="mdi mdi-arrow-up">
      </i>
  </a>
{% endblock %}
