/* Footer Area */
.bg-color-dark{
	background: #222222;
}
.page-footer{
	background: #333;
	.footer-title {
		position: relative;
		color: #fff;
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 0.1rem;
		margin-bottom: 40px;
		&:before{
			position: absolute;
			content: '';
			background: #2196F3;
			width: 40px;
			height: 2px;
			left: 0px;
			bottom: -15px;
		}
	}
	p {
		color: #fff;
		line-height: 24px;
		margin: 0;
	}
	.recent-widget{
		p{
			a {
				color: #fff;
				font-size: 14px;
				transition: $transition;
				line-height: 28px;
				&:hover {
					color: #2196F3;
					transition: $transition;
				}
			}
		}
	}
	.link-widget{
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				list-style: none;
				float: left;
				padding-bottom: 22px;
				width: 50%;
				a {
					color: #fff;
					&:hover{
						color: #2196F3;
					}
				}
			}
		}
	}
	.widget-gallery{
		margin-right: -5px;
		ul {
			padding: 0;
			li {
				display: block;
				width: 33%;
				float: left;
				padding: 0 5px 5px 0;
				margin: 0;
				a {
					img{
						width: 100%;
					}
				}
			}
		}
	}

}
.footer-contact-widget{
		p {
			color: #fff;
			line-height: 24px;
			padding: 5px 0;
			span {
				font-weight: 700;
			}
		}
		ul {
			margin: 15px 0;
			padding: 0;
			li {
				float: left;
				list-style: none;
				a {
					.mdi{
						color: #fff;
						width: 40px;
						height: 40px;
						margin-right: 8px;
						display: block;
						background: #2A2A2F;
						text-align: center;
						line-height: 40px;
						border-radius: 2px;
					    transtion: $transition;
					    &:hover {
					    	transition: $transition;
					    }
					}
					.mdi-facebook{
						transition: $transition;
						&:hover {
							background: #3B5998;
							transition: $transition;
						}

					}
					.mdi-twitter {
						&:hover {
							background: #1DA1F2;
							transition: $transition;
						}
					}
					.mdi-dribbble {
						&:hover {
							background: #EA4C89;
							transition: $transition;
						}
					}
					.mdi-github-circle{
						&:hover {
							background: #009587;
							transition: $transition;
						}
					}
					.mdi-linkedin {
						&:hover {
							background: #0177B5;
							transition: $transition;
						}
					}
				}
			}
		}
	}
	ul.recent-post{
		padding: 0;
		margin: 0;
		li{
			margin-bottom: 30px;
			a{
				float: left;
				transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-webkit-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
				img{
					width: 100%;
					height: 65px;
				}
			}
			.post-text{
				padding-left: 92px;
				color: #aaa;
				h4{
					a{
						color: #fff;
						transition: all 0.3s ease-in-out;
						text-transform: capitalize;
						font-weight: 700;
						font-size: 15px;
						padding-bottom: 0;
					}
				}
				span{
					color: #999;
				}
			}
		}
	}
	.footer-copyright{
		line-height: 45px;
		background: #000000;
		color: #999;
		p{
			margin: 22px 0;
		}
		.footer-links {
			ul {
			    padding-left: 0;
			    float: right;
			    margin: 10px 0;
				li {
					list-style: none;
					float: left;
					a {
						color: #999;
						margin-right: 15px;
						transition: $transition;
						.fa {
							padding-right: 4px;
						}
						&:hover {
							color: #fff;
							opacity: 0.7;
							transition: $transition;
						}
					}
				}
			}
		}
	}
