
/* matrl-tab */
.matrl-tab{
	ul.nav.nav-tabs li .active{
		border-bottom: 4px solid #03a9f4!important;
	}
	ul.nav.nav-tabs{
		padding: 0px 25px;
		background: #fff;
		text-align: center;
		border-bottom: 0;
		@include blog-box-shadow();
		.nav-item{
			.nav-link{
			    background-color: transparent;
			    font-size: 14px;
					font-family: Montserrat, sans-serif;
					line-height: 20px;
			    padding: 15px 30px 8px 30px;
			    border-radius: 0;
			    position: relative;
			    border-top: none;
			    border-left: none;
			    border-right: none;
			    border-bottom: 4px solid transparent;
			    display: inline-block;
			    i{
			    	font-size: 38px;
			    }
			}
		}
	}
	ul.nav.nav-tabs li .active{
		background-color: rgba(255, 255, 255, 0.3) !important;
		color: #fff;
	}
	.tab-content {
		padding: 24px;
		background: #fff;
		@include blog-box-shadow();
	}
	p{
		text-align: justify;
	}

}

/* Matrl Tab Default */
.matrl-tab-default {
	img {
		width: 100%;
	}
	ul.nav.nav-tabs {
		border-bottom: 0;
		li {
			a {
				color: #333;
			    font-weight: 700;
			    font-size: 18px;
			    position: relative;
			    border-top: none;
			    border-left: none;
			    border-right: none;
			    border-right: 0;
			    border-bottom: 3px solid transparent;
			    padding: 10px 8px;
			    margin-right: 29px;
			    margin-top: 0;
				&:hover {
					background: none;
				}
			}
		}
	}
	.tab-content {
		margin-top: 25px;
		padding: 20px;
		background: #FAFAFA;
		@include blog-box-shadow();
	}
}
