{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% load staticfiles cms_tags menu_tags sekizai_tags %}


{% block title %}
Bienvenue
{% endblock %}

{% block base_head %}

{% endblock %}

{% block content %}

  <!-- Page Titile Area -->
  <section class="page-title-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="page-tagline">Détail - {% render_model event "type" "type,titre,image,short_description,long_description,date,formateur,active" %}</h2>
          <h1 class="page-title">{% render_model event "titre" "type,titre,image,short_description,long_description,date,formateur,active" %}</h1>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Titile Area End -->

  <!-- Matrl Blog Post section -->
  <section class="matrl-blog-post-page section-padding">
    <div class="container">
      <div class="row">
        <!-- Single Blog Post -->
        <div class="single-blog-page col-md-12 col-lg-8 col-xs-12">
          <article class="single-post wow fadeInUp animated" data-wow-delay=".2s">
            <div class="post-image" {% if event.url %}style="background-image: url('{{ event.image.url }}'); width:100%;height: 300px; background-position:center; background-size:cover;"{% endif %}>
            </div>
            {% render_model_block event %}
            <h2>{{ event.titre }}</h2>
            <p>{% autoescape off %}{{ event.long_description }}{% endautoescape %}</p>
            {% endrender_model_block %}
            <div class="single-post-meta">
              <div class="share-post">
                <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
          </article>


        </div>

        <!-- Blog Sidebar -->
        <div class="col-md-12 col-lg-4 col-xs-12 blog-sidebar-column">
          <!-- Single Sidebar -->
          <aside class="col-md-12 single-sidebar-widget author-widget no-padding wow animated fadeInUp" data-wow-delay=".2s">
            <div class="author-bg" style="background-image: url('{{ formateur.photo.url }}'); width:100%;height: 150px; background-position:center; background-size:cover;">
            </div>
            <div class="author-info">
              <div class="author-name">
              </div>
              <div class="author-bio">
                <p>{% render_model formateur "short_description" "full_name,photo,short_description" %}</p>
              </div>
            </div>
          </aside>

          <!-- Single Sidebar -->
          <aside class="col-md-12 single-sidebar-widget subscribe-widget no-padding  wow animated fadeInUp" data-wow-delay=".3s">
            <div class="sidebar-widget-title">
              <h2>Restez informé</h2>
            </div>
            <div class="social-profiles clearfix">
              <div class="footer-contact-widget">
                <ul>
                  <li>
                    <a href="#"><i class="mdi mdi-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="mdi mdi-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="mdi mdi-dribbble"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="mdi mdi-github-circle"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="mdi mdi-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="subscribe-box">
              <p>Restez informés de toutes nos formations, conférences et workshop en vous inscrivant à notre newsletter ! </p>
              <div class="input-group">
                <form class="." id="signup_form" method="post" action="">
                  {% csrf_token %}
                  {% crispy form %}
                </form>

              </div>

              <!-- /input-group -->
            </div>
          </aside>

        </div>
        <!--Blog Sidebar End -->
      </div>
    </div>
  </section>

  <!-- Matrl Blog Post section End -->


  <!-- Back To Top -->
  <a href="#" class="back-to-top">
    <div class="ripple-container"></div>
    <i class="mdi mdi-arrow-up"></i>
  </a>

{% endblock %}
