{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% load staticfiles cms_tags menu_tags sekizai_tags %}

{% block meta_description %}Présentation de notre événement : {% render_model event "titre" "type,titre,image,short_description,long_description,date,formateur,active" %}{% endblock %}
{% block meta_og_description %}{% render_model event "titre" "type,titre,image,short_description,long_description,date,formateur,active" %}{% endblock %}

{% block title %}
{% render_model event "titre" "type,titre,image,short_description,long_description,date,formateur,active" %}
{% endblock %}

{% block base_head %}

{% endblock %}

{% block content %}

  <!-- Page Titile Area -->
  <section class="page-title-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="page-tagline">Détails - {% render_model event "type" "type,titre,image,short_description,long_description,date,formateur,active" %}</h2>
          <h1 class="page-title">{% render_model event "titre" "type,titre,image,short_description,long_description,date,formateur,active" %}</h1>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Titile Area End -->

  <!-- Matrl Blog Post section -->
  <section class="matrl-blog-post-page section-padding">
    <div class="container">
      <div class="row">
        <!-- Single Blog Post -->
        <div class="single-blog-page col-md-12 col-lg-8 col-xs-12">
          <article class="single-post wow fadeInUp animated" data-wow-delay=".2s">
            <div class="post-image" {% if event.image %}style="background-image: url('{{ event.image.url }}'); width:100%;height: 300px; background-position:center; background-size:cover;"{% endif %}>
            </div>
            <div style="padding:20px; font-size:15px;">
              {% render_model_block event %}
              <h2>{{ event.titre }}</h2>
              <p>{% autoescape off %}{{ event.contenu }}{% endautoescape %}</p>
              {% endrender_model_block %}
              <div class="single-post-meta">
                <div class="share-post">
                </div>
              </div>
            </div>
          </article>


        </div>

        <!-- Blog Sidebar -->
        <div class="col-md-12 col-lg-4 col-xs-12 blog-sidebar-column">
          <!-- Single Sidebar -->
          <aside class="col-md-12 single-sidebar-widget author-widget no-padding wow animated fadeInUp" data-wow-delay=".2s">
            <div class="author-info" style="font-size: 13px;">
              <div class="author-name" style="font-size: 15px;">
                {% if event.infos_pratiques %}
                  {{ event.infos_pratiques }}
                {% else %}
                  Informations à venir
                {% endif %}
              </div>
              <div class="author-bio">
                {% if event.formateur.all|length != 0 %}
                  <h3>Formateurs</h3>
                  <ul>
                  {% for formateur in event.formateur.all %}
                  <li>
                    {% render_model_block formateur %}{{ formateur.full_name }} ({{ formateur.statut }}){% endrender_model_block %}
                  </li>
                  {% endfor %}
                {% endif %}
              </ul>
              </div>
            </div>
          </aside>

          <!-- Single Sidebar -->
          <aside class="col-md-12 single-sidebar-widget subscribe-widget no-padding  wow animated fadeInUp" data-wow-delay=".3s">
            <div class="sidebar-widget-title">
              <h2>Restez informés</h2>
            </div>
            <div class="subscribe-box">
              <p>Restez informés de toutes nos formations, conférences et workshop en vous inscrivant à notre newsletter ! </p>
              <div class="input-group">
                <form class="." id="signup_form" method="post" action="">
                  {% csrf_token %}
                  {% crispy form %}
                </form>

              </div>

              <!-- /input-group -->
            </div>
          </aside>

        </div>
        <!--Blog Sidebar End -->
      </div>
    </div>
  </section>

  <!-- Matrl Blog Post section End -->


  <!-- Back To Top -->
  <a href="#" class="back-to-top">
    <div class="ripple-container"></div>
    <i class="mdi mdi-arrow-up"></i>
  </a>

{% endblock %}
