{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% load cms_tags staticfiles sekizai_tags %}
{% load cms_tags menu_tags sekizai_tags %}
{% load cms_tags %}

{% block title %}
Bienvenue
{% endblock %}

{% block base_head %}

{% endblock %}

{% block content %}


  <!-- Page Titile Area -->
  <section class="page-title-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="page-tagline">Découvrez</h2>
          <h1 class="page-title">Toutes nos formations</h1>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Titile Area End -->
{% placeholder "test" %}
  <!-- Matrl Blog Post section -->
  <section class="matrl-blog-post-page section-padding">
    <div class="container">
      <div class="row">
        <!-- Blog Post -->
        <div class="col-md-12 col-lg-8 col-xs-12 blog-post-column">
          <div class="row">
            <!-- Split Left -->
            <div class="col-md-6 no-padding">
              <!-- Single Blog Post -->
              {% for event in evenements %}
              {% render_model_block event %}
              {% if forloop.counter <= n_demi %}
              <div class="col-md-12 wow animated fadeInUp" data-wow-delay=".2s">
                <article class="single-blog-post {% if event.image %} {% else %}post-without-image {% endif %}">
                  <!-- Featured Image -->
                  {% if event.image %}
                  <div class="featured-image" style="background-image: url('{{ event.image.url }}'); width:100%;height: 200px; background-position:center; background-size:cover;">
                    <a href="{% url 'detail-event' pk=event.pk %}">

                    </a>
                  </div>
                  {% else %}
                  <div class="featured-image pink-bg">

                  </div>
                  {% endif %}
                  <!-- Post Meta -->
                  <div class="post-meta">
                    <div class="post-date">
                      <span><b>{{ event.date }}</b></span>
                    </div>
                    <!-- Title -->
                    <a href="{% url 'detail-event' pk=event.pk %}">
                      <h2 class="subtitle"><a href="{% url 'detail-event' pk=event.pk %}">{{ event.titre }}</a></h2>
                    </a>
                    <p>{% autoescape off %}{{ event.short_description }}{% endautoescape %}</p>
                  </div>
                  <div class="meta-tags">
                    <span class="comments"><a href="#"><i class="mdi mdi-comment-outline"></i> 24 Comments</a></span>
                    <!-- Read More -->
                    <a class="btn btn-round btn-fab" href="{% url 'detail-event' pk=event.pk %}"><i class="material-icons mdi mdi-arrow-right"></i><div class="ripple-container"></div></a>
                  </div>
                </article>
              </div>
              {% endif %}
              {% endrender_model_block %}
              {% endfor %}
            </div>
            <!-- Split Right -->
            <div class="col-md-6 no-padding">
              {% for event in evenements %}
              {% if forloop.counter > n_demi %}
              <!-- Single Blog Post -->
              <div class="col-md-12 wow animated fadeInUp" data-wow-delay=".2s">
                <article class="single-blog-post {% if event.image %} {% else %}post-without-image {% endif %} quote-post">
                  <!-- Featured Image -->
                  {% if event.image %}
                  <div class="featured-image" style="background-image: url('{{ event.image.url }}'); width:100%;height: 200px; background-position:center; background-size:cover;">
                  </div>
                  {% else %}
                  <div class="featured-image pink-bg">

                  </div>
                  {% endif %}
                  <!-- Post Meta -->
                  <div class="post-meta">
                    <div class="post-date">
                      <span><b><a href="{% url 'detail-event' pk=event.pk %}">{{ event.date }}</a></b></span>
                    </div>
                    <!-- Title -->
                    <a href="{% url 'detail-event' pk=event.pk %}">
                      <h2 class="subtitle">{% render_model event "titre" "titre,short_description,formateur"  %}</h2>
                    </a>
                    <p>{% autoescape off %}{{ event.short_description }}{% endautoescape %}</p>
                  </div>
                  <div class="meta-tags">
                    <span class="comments"><a href="#"><i class="mdi mdi-comment-outline"></i> 24 Comments</a></span>
                    <!-- Read More -->
                    <a class="btn btn-round btn-fab" href="{% url 'detail-event' pk=event.pk %}"><i class="material-icons mdi mdi-arrow-right"></i><div class="ripple-container"></div></a>
                  </div>
                </article>
              </div>
              {% endif %}
              {% endfor %}
            </div>
            <!-- pagination -->
            <div class="col-md-12 text-center mt-3 blog-pagination wow animated fadeInUp" data-wow-delay=".4s">
              <a href="{% url 'list-events' %}" class="btn btn-common"><i class="material-icons mdi mdi mdi-autorenew"></i> Chargez plus de formations<div class="ripple-container"></div></a>
            </div>
            <!-- pagination End -->
          </div>
        </div>
        <!--Blog Post ENd -->

        <!-- Blog Sidebar -->
        <div class="col-md-12 col-lg-4 col-xs-12 blog-sidebar-column">
          <!-- Single Sidebar -->
          <aside class="col-md-12 single-sidebar-widget author-widget no-padding wow animated fadeInUp" data-wow-delay=".2s">
            <div class="author-bg">
              <img src="{% static 'assets/images/logoandimg.jpg' %}" alt="">
            </div>
            <div class="author-info">
              <div class="author-bio">
                <p>{% placeholder "text_brefore_newsletter_form" %}</p>
              </div>
            </div>
          </aside>

          <!-- Single Sidebar -->
          <aside class="col-md-12 single-sidebar-widget subscribe-widget no-padding  wow animated fadeInUp" data-wow-delay=".3s">
            <div class="sidebar-widget-title">
              <h2>Restez informé</h2>
            </div>
            <div class="subscribe-box">
              <p>Restez informés de toutes nos formations, conférences et workshop en vous inscrivant à notre newsletter ! </p>
              <div class="input-group">
                <form class="." id="signup_form" method="post" action="">
                  {% csrf_token %}
                  {% crispy form %}
                </form>

              </div>

              <!-- /input-group -->
            </div>
          </aside>

        </div>
        <!--Blog Sidebar End -->
      </div>
    </div>
  </section>
  <!-- Matrl Blog Post section End -->



  <!-- Back To Top -->
  <a href="#" class="back-to-top">
    <div class="ripple-container"></div>
    <i class="mdi mdi-arrow-up"></i>
  </a>

{% endblock %}

{% block javascript %}
<script>
$( document ).ready(function() {
  $('#mon-bouton').html('<i class="fa fa-paper-plane-o" aria-hidden="true"></i>')
});
</script>
{% endblock %}

